<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic page needs
	============================================ -->
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow">

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Libs CSS
	============================================ -->
    <link rel="stylesheet" href="__STATIC__/user/css/bootstrap/css/bootstrap.min.css">
    <link href="__STATIC__/user/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/user/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__STATIC__/user/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__STATIC__/user/css/themecss/lib.css" rel="stylesheet">
    <link href="__STATIC__/user/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__STATIC__/user/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__STATIC__/user/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__STATIC__/user/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link id="color_scheme" href="__STATIC__/user/css/theme.css" rel="stylesheet">
    <link href="__STATIC__/user/css/responsive.css" rel="stylesheet">


</head>
<body class="common-home res layout-home1">
<div id="wrapper" class="wrapper-full banners-effect-7">
    {include file='template/header' /}
    {block name='content'}

    {/block}
    {include file='template/footer' /}
</div>
<section class="social-widgets visible-lg">
    <ul class="items">
        <li class="item item-01 facebook"> <a href="" class="tab-icon"><span class="fa fa-facebook"></span></a>
            <div class="tab-content">
                <div class="title">
                    <h5>FACEBOOK</h5>
                </div>
                <div class="loading">
                    <img src="__STATIC__/user/image/theme/lazy-loader.gif" class="ajaxloader" alt="loader">
                </div>
            </div>
        </li>
        <li class="item item-02 twitter"> <a href="" class="tab-icon"><span class="fa fa-twitter"></span></a>
            <div class="tab-content">
                <div class="title">
                    <h5>TWITTER FEEDS</h5>
                </div>
                <div class="loading">
                    <img src="__STATIC__/user/image/theme/lazy-loader.gif" class="ajaxloader" alt="loader">
                </div>
            </div>
        </li>
        <li class="item item-03 youtube"> <a href="#" class="tab-icon"><span class="fa fa-youtube"></span></a>
            <div class="tab-content">
                <div class="title">
                    <h5>YouTube</h5>
                </div>
                <div class="loading"> <img src="__STATIC__/user/image/theme/lazy-loader.gif" class="ajaxloader" alt="loader"></div>
            </div>
        </li>
    </ul>
</section>	<!-- End Social widgets -->

<link rel='stylesheet' property='stylesheet'  href='__STATIC__/user/css/themecss/cpanel.css' type='text/css' media='all' />

<!-- Preloading Screen -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloading Screen -->

<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__STATIC__/user/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/themejs/libs.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/jquery-ui/jquery-ui.min.js"></script>


<!-- Theme files
============================================ -->
<script type="text/javascript" src="__STATIC__/user/js/themejs/application.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/themejs/toppanel.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__STATIC__/user/js/themejs/cpanel.js"></script>

</body>
</html>